tqdm
numpy
pandas
matplotlib
SimpleITK
scikit-learn
nibabel
itk
scikit-image
torch
torchvision
torchaudio
tensorboard
ignite
monai
plotly
flask
hsf[gpu]
onnxruntime-gpu==1.18.1
onnxruntime==1.18.1
antspyx==0.4.2