<!-- templates/visualize.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Medical Image Visualization</title>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        /* Flex container to hold the three views side by side */
        .flex-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }

        /* Ensure the plots take full width of the container */
        .plotly-div {
            width: 100%;
            max-width: 400px;
            margin: 5px;
            padding: 5px;
        }

        .slider-container {
            text-align: center;
            margin: 10px;
        }

        .slider-label {
            display: block;
            margin-bottom: 5px;
        }

        /* Volume plot container */
        #volume-plot {
            width: 100%;
            height: 600px; /* Set a fixed height for better visualization */
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Visualization for {{ filename }}</h1>

    <!-- Flex container for the 2D slice views -->
    <div class="flex-container">
        <!-- Axial View -->
        <div>
            <div class="slider-container">
                <span class="slider-label">Axial View Slice: <span id="axial-value">{{ data_shape[0] // 2 }}</span></span>
                <input type="range" id="axial-slider" min="0" max="{{ data_shape[0] - 1 }}" value="{{ data_shape[0] // 2 }}" />
            </div>
            <div id="plotly-axial" class="plotly-div"></div>
        </div>

        <!-- Sagittal View -->
        <div>
            <div class="slider-container">
                <span class="slider-label">Sagittal View Slice: <span id="sagittal-value">{{ data_shape[2] // 2 }}</span></span>
                <input type="range" id="sagittal-slider" min="0" max="{{ data_shape[2] - 1 }}" value="{{ data_shape[2] // 2 }}" />
            </div>
            <div id="plotly-sagittal" class="plotly-div"></div>
        </div>

        <!-- Coronal View -->
        <div>
            <div class="slider-container">
                <span class="slider-label">Coronal View Slice: <span id="coronal-value">{{ data_shape[1] // 2 }}</span></span>
                <input type="range" id="coronal-slider" min="0" max="{{ data_shape[1] - 1 }}" value="{{ data_shape[1] // 2 }}" />
            </div>
            <div id="plotly-coronal" class="plotly-div"></div>
        </div>
    </div>
    <!-- Add the download button -->
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="{{ url_for('download_file', filename=filename) }}" class="download-button">
            Download Segmentation File
        </a>
        <br>
        <a href="{{ url_for('home') }}">Go to Home</a>
    </div>

    <!-- 3D Volume Rendering -->
    <!-- <h2>3D Volume Rendering</h2>
    <div id="volume-plot"></div> -->

    <script>
        // Parse the data from the template
        const seg_data = {{ seg_data_list | safe }};
        const input_data = {{ input_data_list | safe }};
        {#const volumeData = JSON.parse({{ volume_json | safe }});#}

        // Function to render a Plotly figure for 2D slices
        function renderPlotlyFigure(divId, input_sliceData, seg_sliceData) {
            Plotly.newPlot(divId, [
                {
                    z: input_sliceData,
                    type: 'heatmap',
                    colorscale: 'Greys',
                    showscale: false
                },
                {
                    z: seg_sliceData,
                    colorscale: [
                        ['0', 'rgb(0,0,0)'],
                        ['1', 'rgb(255, 0, 0)'],
                        ['2', 'rgb(0, 255, 0)'],
                        ['3', 'rgb(0, 0, 255)'],
                        ['4', 'rgb(255, 255, 0)'],
                        ['5', 'rgb(0, 255, 255)']
                    ],
                    type: 'heatmap',
                    showscale: false,
                    opacity: 0.5 // Adjust opacity to see the underlying image
                }
            ], {
                margin: { t: 0, b: 0, l: 0, r: 0 },
                xaxis: { visible: false },
                yaxis: { visible: false },
                width: 400,  // Set consistent plot width
                height: 400  // Set consistent plot height
            });
        }

        // Initial rendering of each 2D view
        const initialAxialSlice = input_data[Math.floor(input_data.length / 2)];
        const seg_initialAxialSlice = seg_data[Math.floor(seg_data.length / 2)];
        renderPlotlyFigure('plotly-axial', initialAxialSlice, seg_initialAxialSlice);

        const initialSagittalSlice = input_data.map(row => row[Math.floor(input_data[0][0].length / 2)]);
        const seg_initialSagittalSlice = seg_data.map(row => row[Math.floor(seg_data[0][0].length / 2)]);
        renderPlotlyFigure('plotly-sagittal', initialSagittalSlice, seg_initialSagittalSlice);

        const initialCoronalSlice = input_data.map(row => row.map(col => col[Math.floor(input_data[0].length / 2)]));
        const seg_initialCoronalSlice = seg_data.map(row => row.map(col => col[Math.floor(seg_data[0].length / 2)]));
        renderPlotlyFigure('plotly-coronal', initialCoronalSlice, seg_initialCoronalSlice);

        // Slider event listeners for 2D views
        document.getElementById('axial-slider').addEventListener('input', (event) => {
            const sliceIndex = parseInt(event.target.value, 10);
            document.getElementById('axial-value').innerText = sliceIndex.toString();  // Update the value display
            const seg_sliceData = seg_data[sliceIndex];
            const input_sliceData = input_data[sliceIndex];
            renderPlotlyFigure('plotly-axial', input_sliceData, seg_sliceData);
        });

        document.getElementById('sagittal-slider').addEventListener('input', (event) => {
            const sliceIndex = parseInt(event.target.value, 10);
            document.getElementById('sagittal-value').innerText = sliceIndex.toString();  // Update the value display
            const seg_sliceData = seg_data.map(row => row[sliceIndex]);
            const input_sliceData = input_data.map(row => row[sliceIndex]);
            renderPlotlyFigure('plotly-sagittal', input_sliceData, seg_sliceData);
        });

        document.getElementById('coronal-slider').addEventListener('input', (event) => {
            const sliceIndex = parseInt(event.target.value, 10);
            document.getElementById('coronal-value').innerText = sliceIndex.toString();  // Update the value display
            const seg_sliceData = seg_data.map(row => row.map(col => col[sliceIndex]));
            const input_sliceData = input_data.map(row => row.map(col => col[sliceIndex]));
            renderPlotlyFigure('plotly-coronal', input_sliceData, seg_sliceData);
        });

        // Render the Plotly volume figure for 3D visualization
        {#Plotly.newPlot('volume-plot', volumeData.data, volumeData.layout, {responsive: true});#}
    </script>
</body>
</html>
